
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 980px;
    gap: 5px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text);
}

.contact div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 8px;
    padding: 20px 0px;
}

.logo {
    height: 28px;
    width: 28px;
    border-radius: 50px;
}

@media only screen and (max-width: 640px) {
    .contact {
        gap: 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 560px) {
    .contact {
        gap: 10px;
        font-size: 8px;
    }

    .contact div {
        gap: 5px;
    }

    .logo {
        height: 20px;
        width: 20px;
    }
}

