.footer-style{
    background: #000000;
}

.footer-style-text {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding: 20px 0px;
}