
.diagonal {
    width: 100%;
    background-image: var(--bg-panel);
}

.conteudoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.conteudoPrincipalEscrito {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
}

.conteudoPrincipalSubtitulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--color-text);
}

.conteudoPrincipalTitulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--color-title);
}

.conteudoPrincipalTexto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    line-height: 25px;
}

.conteudoPrincipalBotao {
    background-color: var(--botao-conteudo);
    width: 95px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text);
}

button:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.imagemProfile {
    height: 400px;
    border-radius: 40px;
    margin: 20px;
}

@media only screen and (max-width: 820px) {
    .conteudoPrincipal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .conteudoPrincipalSubtitulo {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .imagemProfile {
        height: 320px;
        width: 280px;
    }
}