
.segundoConteudoContainer {
    background-color: var(--segundo-conteudo);
    width: 100%;
}

.segundoConteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    gap: 25px;
    width: 90%;
    max-width: 980px;
    margin: auto;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}

.conteudoEscrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteudoTitulo {
    margin: 25px 0px;
    font-weight: 700;
    font-size: 20px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.logoGitHub {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

@media only screen and (max-width: 700px) {
    .segundoConteudo {
        font-size: 14px;
    }

    .conteudoTitulo {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .segundoConteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 20px;
        width: 80%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .conteudoTitulo {
        font-size: 20px;
    }
}